/* Landing Page Style */
/* .gspb_container__videoContainer{position: fixed !important;} */

/* @font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 100;
	src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
} */


ul.wp-block-navigation__container li a {
	border-bottom: 3px solid transparent;
	padding-bottom: 13px;
	text-transform: uppercase;
	margin-right: 25px;
}

ul.wp-block-navigation__container li a:hover {
	border-bottom: 3px solid #EFDF82;
	opacity: 1;
	transform: translateY(0px);
}

ul.wp-block-navigation__container li a.psy-last-nav-item {
	margin-right: 0;
}

.psy-lp-narrow-40 {
	width: 40%;
	margin: 0 auto;
}

.psy-lp-narrow-50 {
	width: 50%;
	margin: 0 auto;
}

.psy-lp-narrow-60 {
	width: 60%;
	margin: 0 auto;
}

.psy-lp-center-content {
	width: 1200px !important;
	margin: 0 auto;
}

.psy-line-divider {
	margin: 0 auto;
	width: 70%;
	border: 0.5px solid;
}



/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5{
	margin: 0;
	padding: 0;
	font-weight: normal;
}

h6{margin: 0; padding: 0;}

p, .gspb_text, ul li{
	font-size: 1.2rem;
	font-weight: 500;
}

.wp-site-blocks {
	padding-top: 0;
	margin-top: -25px;
}

.psy-container {
	margin: 0 30px;
}

.wp-block-site-title {
	position: absolute;
	text-indent: -9999px;
}

.gspb-buttonbox {
	font-family: "Fregan Sans", sans-serif;
}

.gspb-buttonbox .gspb-buttonbox-icon img{
	width: 20px;
	height: auto;
}

.sunburst-linebreak {width: 130px; height: auto;}

.psy-gradient {background: linear-gradient(45deg, #2F257D, #875078, #4385C0) border-box;}

.fregan-serif {font-family: "Fregan Serif", serif;}

/*Buttons*/
.psy-gradient-line::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-left: 12px solid transparent;
	background: linear-gradient(45deg, #2F257D, #875078, #4385C0) border-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.psy-gradient-gold-btn a::before {
	font-family: "Fregan Sans", sans-serif;
	content: "";
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50px;
	border: 2px solid transparent;
	background: linear-gradient(135deg, #efdf82 0, #e1bc4f 99%) border-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.psy-gradient-btn a::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50px;
	border: 2px solid transparent;
	background: linear-gradient(45deg, #2F257D, #875078, #4385C0) border-box;
	-webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
	-webkit-mask-composite: destination-out;
	mask-composite: exclude;
}

.psy-drop-cap-letter {
	background-size: auto;
	background-repeat: no-repeat;
	background-image: url(/wp-content/themes/supermind-base/assets/media/Ellipse-Drop-Cap.svg);
	background-position: 0px 0px;
	padding: 40px 40px 0px 40px;
	margin-left: -45px;
}

.psy-drop-cap-text {margin-left: -30px;}

/*Social*/
ul.psy-social-vertical-list {
	list-style: none;
	text-align: right;
	font-family: "Fregan Sans", sans-serif;
	margin-top: 5px;
}

ul.psy-social-vertical-list li a {text-decoration: none;}

ul.psy-social-list-horizontal li {
	list-style: none;
	text-align: right;
	font-family: "Fregan Sans", sans-serif;
	margin-top: 5px;
	color: #fff;
	font-size: 14px;
	display: inline;
	padding-right: 15px;
}

/* Header */
.psy-header {
	position: relative;
	z-index: 20;
}

.tagline-disappear {
	position: absolute;
	text-align: -9999px;
}

.wp-block-navigation-item__content {
	font-family: "Fregan Sans", sans-serif;
}

/* Styling menu */
header {
	width: 100%;
	justify-content: center;
	display: flex;
	position: relative;
	z-index: 999;
}

header .psy-container {
	width: 100%;
	min-width: 0 !important;
	margin: auto;
	padding: 10px 100px;
	position: fixed !important;
	transition: all 0.5s;
	top: 0;
}

.home header .psy-container {/* top: -100%; */}
header.scroll-up .psy-container {top: 0;}
header.scroll-down .psy-container {/* top: -100%; */}
header.header-on-top .psy-container {top: -100%;}
header .psy-header-wrapper .gspb_slidingPanel-wrap {max-width: none;}

.wp-block-navigation-item.wp-block-navigation-link {
	overflow: hidden;
	max-height:150px;
}
.wp-site-blocks>*+* {margin-block-start: 0 !important}

.alignfull>.gspb_row__content {
	max-width: 1720px;
	padding: 25px 100px;
	padding-bottom: 0;
}

/* styling simple header */

.psy-menu-close-btn {
	display: none !important;
}
.psy-menu-open-btn {display: block !important;}
.gsap-click-obj-active .psy-menu-close-btn  {
	display: block !important;
}
.gsap-click-obj-active .psy-menu-open-btn {
	display: none !important;
}
.psy-header-wrapper .psy-header-logo,
.psy-header-wrapper .gspb-buttonbox {
	z-index: 999999 !important;
}

.psy-header-menu .gspb_slidingPanel-inner {
	height: 100vh;
	padding: 0;
}
.psy-header-menu .gspb_slidingPanel-inner>.gspb_container {
	height: 100%;
    padding-top: 50px;
}
.psy-header-menu .gspb_slidingPanel-inner .gs-gsap-wrap>.gspb_container  {
	height: 100vh;
	padding-top: 90px;
}

.psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon {
	text-indent: -999999px;
	border-bottom: 2px solid #fff;
	height: 20px;
}
body .psy-header-wrapper .psy-header-logo-wrapper {
	background-image: url(/wp-content/themes/supermind-base/assets/media/Psychedelics.com-Logo-White.svg);
	width: 300px;
	height: 80px;
	background-size: contain;
	background-repeat: no-repeat;
}

body.gspb-bodyfront header{/* mix-blend-mode: difference; */}
.psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon svg {display: none !important;}

.psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:after {
	display: block;
	content: "";
	border-top: 2px solid #fff;
	width: 25px;
	position: relative;
	top: 8px;
	transition: all 0.3s;
}

.psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:before {
	display: block;
	content: "";
	border-top: 2px solid #fff;
	width: 25px;
	transition: all 0.3s;
}

.psy-header-menu.panelactive>.gspb-buttonbox .gspb-buttonbox-icon {border-bottom: 0;}

.psy-header-menu.panelactive>.gspb-buttonbox .gspb-buttonbox-icon:after {
	transform: rotate(-45deg);
	top: 8px;
}

.psy-header-menu.panelactive>.gspb-buttonbox .gspb-buttonbox-icon:before {
	transform: rotate(45deg);
	top: 10px;
	position: relative;
}

.psy-header-menu .gspb_slidingPanel-inner .gspb_row__content .gspb_row__col--9 {height: 70%;}

.psy-header-menu .gspb_slidingPanel-inner .wp-block-greenshift-blocks-row>.gspb_row__content {
	max-width: 1720px !important;
	min-width: 0 !important;
	margin: auto;
	padding: 25px 30px;
}

.psy-header-menu .gspb_slidingPanel-inner h1.gspb_heading {
	font-size: clamp(60px, calc(3.75rem + ((1vw - 7.68px) * 8.6806)), 160px);
	line-height: 1.2;
	font-weight: 300;
}

/* styling homepage infinite scroll */
.psy-homage-infinite-scroll .gspbgrid_item.swiper-slide .gspb_row {background-image: none !important;}

.psy-homage-infinite-scroll .gspb-dynamic-post-image {
	width: 100%;
	height: 100%;
	position: absolute;
}

.psy-homage-infinite-scroll .gspb-dynamic-post-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.psy-homage-infinite-scroll .gspbgrid_item.swiper-slide .gspb_row h1 a {
	font-family: Fregan Serif, sans-serif;
	color: #fff;
}

/* Hompeage Article Infinite Loop */
.psy-home-article-container {/* width: 60% !important; */}

.psy-reallycap-info a,
.psy-reallycap-info a {
	font-size: 13px;
	font-family: Inter, sans-serif;
}

.psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper,
.psy-left-top-layout .psy-home-article-container .psy-home-article-wrapper,
.psy-left-bottom-layout .psy-home-article-container .psy-home-article-wrapper,
.psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper {
	width: 800px;
}

.psy-left-bottom-layout .psy-home-article-container,
.psy-left-top-layout .psy-home-article-container {
	align-items: flex-start !important;
}
.psy-right-top-layout .psy-home-article-wrapper,
.psy-right-bottom-layout .psy-home-article-wrapper {
	float: right;
}

.psy-left-bottom-layout .psy-home-article-container .psy-home-article-wrapper,
.psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper {
	padding-top: 100px;
}

.psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper h3,
.psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper div.gspb_meta_value,
.psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper .gspb_iconBox,
.psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper h3,
.psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper div.gspb_meta_value,
.psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper .gspb_iconBox {
	text-align: right !important;
	justify-content: flex-end;
}

.psy-post-template .gspb_meta_value {display: none;}

/* Styling post page */
.psy-post-feature-image {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.psy-post-infinite-wrapper video {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}
.infinite-wrapper {
	margin-top: 0;
}
.infinite-wrapper.lightmode {
	background-color: #fff;
}

.infinite-wrapper.lightmode div,
.infinite-wrapper.lightmode a,
.infinite-wrapper.lightmode h2,
.infinite-wrapper.lightmode h3 {
	color: #000 !important;
}

.infinite-wrapper .lightmode .psy-reallycap div a {color: #fff !important;}

/* audio style */
.psy-audio-button .mdp-speaker-box.speaker-rounded .mejs-container {
	width: 100% !important;
	height: 100% !important;
}

div#mep_0 {
	width: 100% !important;
	height: 100% !important;
}

.psy-text-to-speed .mdp-speaker-wrapper {
	display: none;
}

.psy-text-to-speed .mdp-speaker-wrapper.audioShow {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 100px;
	width: 250px;
}

.psy-audio-pause-button {
	display: none;
}

/*Glossary Page*/
.piotnetgrid-facet__field-subgroup.piotnetgrid-facet__field-subgroup--inline {/* border-bottom: 1px solid #6B5DAF; */}
.piotnetgrid-facet__field-wrapper {justify-content: center !important;}

.piotnetgrid-facet__field-sub input,
.piotnetgrid-facet__field-sub label {
	width: 20px;
}

.piotnetgrid-facet__field-subgroup--buttons .piotnetgrid-facet__field-sub-label {
	border: none;
	text-align: center;
}

.piotnetgrid-facet__field-sub-label-content {
	text-transform: uppercase;
	font-size: 22px;
	font-family: "Fregan Sans", sans-serif;
}

.piotnetgrid-facet--search input.piotnetgrid-facet-field {
	font-family: "Fregan Sans", sans-serif;
	border: 1px solid #6B5DAF !important;
}

.psy-term-container a {text-decoration: none;}

.psy-glossary-card-content {
	height: 120px;
	overflow: hidden;
}

.psy-glossary-card-content.card-open {height: 400px;}

.piotnetgrid article.glossary .psy-glossary-open:hover i,
.piotnetgrid article.glossary.active .psy-glossary-open i {
	transform: rotate(-180deg);
}

.psy-piotnet-alphabet-facet.sticky {
	position: fixed !important;
	top: 0;
	z-index: 99;
	background-color: transparent;
	backdrop-filter: blur(20px);
	min-width: 100%;
	left: 0;
}

.psy-piotnet-alphabet-facet.sticky .piotnetgrid-facet {
	margin-bottom: 10px;
	padding-top: 10px;
}

body.lightmode {background-color: lightblue;}

.psy-psychepedia-categories-filter .piotnetgrid-facet__field-subgroup.piotnetgrid-facet__field-subgroup--inline {border-bottom: none;}

.psy-psychepedia-categories-filter .piotnetgrid-facet__field-sub {
	border-radius: 20px;
	padding: 0 10px;
	background-color: #7d40f433;
	margin-right: 10px;
}

.psy-psychepedia-categories-filter .piotnetgrid-facet__field-sub .piotnetgrid-facet__field-sub-label {text-align: left;}
.psy-psychepedia-categories-filter .piotnetgrid-facet__field-sub:last-child {margin-right: 0;}
.psy-psychepedia-categories-filter .piotnetgrid-facet__field-sub-label-content {font-size: 14px;}

/* Podcast styling */
.page-id-1609.lightmode {
    background-color: #fff;
    color: #000;
}
.page-id-1609.darkmode {
	background-image: linear-gradient(160deg,#130A61 0,#58326B 45%,#283057 50%, #000 55%, #000 100%);
}
.postid-1825 {
	background-image: linear-gradient(160deg,#130A61 0,#58326B 25%,#283057 10%, #58326B 25%, #130A61 50%);
}

.postid-1825 h1, .postid-1825 h2, .postid-1825 h3{color: #D3CCC4;}

.single-podcast {
	background-image: linear-gradient(160deg,#130A61 0,#58326B 45%,#283057 50%, #000 55%, #000 100%);
}
.psy-podcast-wrapper .wp-block-post-template .gspbgrid_item {
	/* background-color: #fff;
	border: 0; */
}
.psy-podcast-wrapper .wp-block-post-template .gspbgrid_item .gspb-dynamic-post-image img {height: 100%;}

.single-podcast {
	margin-top: 10rem;
	background-color: #fff;
}
.single-podcast iframe {
	position: fixed;
	right: 30px;
	bottom: 0px;
	z-index: 99;
}
#episodes a {
	display: flex;
	flex-direction: row;
	text-decoration: none;
	border-bottom: 2px solid #d3b97a4d;
	margin-bottom: 4rem;
	padding-bottom: 3rem;
}
#episodes a .podcastContent {padding-top: 3rem;}
#episodes a .podcastContent .podcastTitle {
	font-size: 22px;
	text-decoration: none;
}
#episodes a .podcastContent .podcastExcerpt {
	font-size: 14px;
	text-decoration: none;
	color: #fff;
}

/* Article color mode style */

.infinite-wrapper {margin-block-start: 0rem !important;}
.psy-reallycap-info{font-size: 13px;}
.infinite-wrapper .psy-reallycap-info .gspb-buttonbox-icon {margin-right: 10px;}
.infinite-wrapper.psy-post-darkmode {background-color: #000;}
.psy-post-darkmode * {color: #fff !important;}
.infinite-wrapper.psy-post-lightmode {background-color: #fff !important;}
.psy-post-lightmode *{color: #000 !important;}
.infinite-wrapper .psy-reallycap-info{padding-top: 1.5rem !important;}

.psy-post-darkmode,
.psy-post-lightmode,
.psy-post-color-set-1 img,
.psy-post-color-set-2 img,
.psy-post-color-set-3 img,
.psy-post-color-set-4 img,
.psy-post-color-set-5 img,
.psy-post-color-set-6 img
{width: 100%; height: auto;}

.psy-drop-cap-container{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.psy-drop-cap-letter{
	font-family: Fregan serif, sans-serif;
	text-transform: uppercase;
	font-size: 110px;
	line-height: 100px;
	font-weight: 400!important;
	position: relative;
	top: -31px;
}

/* Color set 1 - Dark 1: Magenta  */
body .psy-post-color-set-1 *{color: #fff;	}

.infinite-wrapper.psy-post-color-set-1 .psy-drop-cap-letter{
	color: #F51F86 !important;
	background-image: url(/wp-content/themes/supermind-base/assets/media/Ellipse-Drop-Cap-Magenta.svg);
}

.infinite-wrapper.psy-post-color-set-1 {
	background: rgb(19,10,97);
	background: linear-gradient(180deg, rgba(19,10,97,1) 0%, rgba(19,10,97,1) 50%, rgba(19,10,97,1) 100%, rgba(88,50,107,1) 25%,rgba(40,48,87,1)10%);
}

.infinite-wrapper.psy-post-color-set-1 .gspb_backgroundOverlay{
	background: rgb(19,10,97);
	background: linear-gradient(180deg, rgba(19,10,97,0) 0%, rgba(19,10,97,1) 100%);
}

.infinite-wrapper.psy-post-color-set-1 .psy-reallycap-info{
	border-top: 1px solid #F51F86 !important;
}
.infinite-wrapper.psy-post-color-set-1 .psy-reallycap-info div {color: #F51F86 ;}
.infinite-wrapper.psy-post-color-set-1 .psy-reallycap-info div svg path{fill: #F51F86 !important; stroke: #F51F86;}

.infinite-wrapper.psy-post-color-set-1 .psy-author-name a,
.infinite-wrapper.psy-post-color-set-1 .gspb_meta_value,
.infinite-wrapper.psy-post-color-set-1 .gspb_text-id-gsbp-2c9441c1-0a61,
.infinite-wrapper.psy-post-color-set-1 .psy-text-to-speed span,
.infinite-wrapper.psy-post-color-set-1 .psy-drop-cap-letter,
.infinite-wrapper.psy-post-color-set-1 .psy-post-color-text,
.infinite-wrapper.psy-post-color-set-1 h6
{
	color: #F51F86 !important;
}

.psy-post-color-set-1 a{
	font-family: var(--wp--preset--font-family--inter);
	color: #F51F86;
	text-decoration: underline;
}

.psy-post-color-set-1 a:hover{
	background: -webkit-linear-gradient(45deg, #F51F86, #875078, #4385C0);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.psy-post-color-set-1 .psy-main-body-content h1,
.psy-post-color-set-1 .psy-main-body-content h2,
.psy-post-color-set-1 .psy-main-body-content h3{
	color: #F51F86;
}

.psy-post-color-set-1 a.source-link sup{
	color: #F51F86;
	text-decoration: none;
}

/* Color set 2 - Dark 2: Cyan */
body .psy-post-color-set-2 *{color: #fff;}

.infinite-wrapper.psy-post-color-set-2 .psy-drop-cap-letter{
	color: #00FFF0 !important;
	background-image: url(/wp-content/themes/supermind-base/assets/media/Ellipse-Drop-Cap-Cyan.svg);
}

.infinite-wrapper.psy-post-color-set-2 {
	background: rgb(19,10,97);
	background: linear-gradient(180deg, rgba(0,43,53,1) 0%, rgba(0,43,53,1) 50%, rgba(0,43,53,1) 25%, rgba(0,43,53,1) 10%,rgba(0,43,53,1) 0%);
}

.infinite-wrapper.psy-post-color-set-2 .gspb_backgroundOverlay{
	background: linear-gradient(180deg, rgba(0,43,53,0) 0%, rgba(0,43,53,1) 100%);
}

.infinite-wrapper.psy-post-color-set-2 .psy-reallycap-info{
	border-top: 1px solid #00FFF0 !important;
}

.infinite-wrapper.psy-post-color-set-2 .psy-reallycap-info div{color: #00FFF0;}

.infinite-wrapper.psy-post-color-set-2 .psy-author-name a,
.infinite-wrapper.psy-post-color-set-2 .gspb_meta_value,
.infinite-wrapper.psy-post-color-set-2 .gspb_text-id-gsbp-2c9441c1-0a61,
.infinite-wrapper.psy-post-color-set-2 .psy-text-to-speed span,
.infinite-wrapper.psy-post-color-set-2 .psy-drop-cap-letter,
.infinite-wrapper.psy-post-color-set-2 .psy-post-color-text,
.infinite-wrapper.psy-post-color-set-2 h6
{color: #00FFF0 !important;}

.psy-post-color-set-2 a{
	color: #00FFF0;
	text-decoration: underline;
}

.psy-post-color-set-2 a.source-link sup{
	color: #00FFF0;
	text-decoration: none;
}

.psy-post-color-set-2 .psy-main-body-content h1,
.psy-post-color-set-2 .psy-main-body-content h2,
.psy-post-color-set-2 .psy-main-body-content h3{
	color: #00FFF0;
}

/* Color set 3 - Dark 3: Yellow */
body .psy-post-color-set-3 *{color: #fff !important;}
.infinite-wrapper.psy-post-color-set-3 {background: #000;}

.infinite-wrapper.psy-post-color-set-3 .gspb_backgroundOverlay{
	background: linear-gradient(0deg,rgba(0,0,0,1) 0%, rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100% );
}

.infinite-wrapper.psy-post-color-set-3 .psy-reallycap-info{
	border-top: 1px solid #F4F85A !important;
}
.infinite-wrapper.psy-post-color-set-3 .psy-reallycap-info svg path {
	fill: #F4F85A !important
}

.infinite-wrapper.psy-post-color-set-3 .psy-author-name a,
.infinite-wrapper.psy-post-color-set-3 .gspb_meta_value,
.infinite-wrapper.psy-post-color-set-3 .gspb_text-id-gsbp-2c9441c1-0a61,
.infinite-wrapper.psy-post-color-set-3 .psy-text-to-speed span,
.infinite-wrapper.psy-post-color-set-3 .psy-drop-cap-letter,
.infinite-wrapper.psy-post-color-set-3 .psy-post-color-text,
.infinite-wrapper.psy-post-color-set-3 .gspb-buttonbox-title
{color: #F4F85A !important; }

.psy-post-color-set-3 .gspb_container-gsbp-2aaf940a-f8af a{
	/* font-family: var(--wp--preset--font-family--inter);
	background: -webkit-linear-gradient(45deg, #F51F86, #875078, #4385C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0; */
}

.psy-post-color-set-3 .psy-main-body-content h1,
.psy-post-color-set-3 .psy-main-body-content h2,
.psy-post-color-set-3 .psy-main-body-content h3{
	color: #F4F85A;
}

/* Color set 4 - Light 1: Purple */

body .psy-post-color-set-4 *{color: #000 !important;}
.infinite-wrapper.psy-post-color-set-4 {background: rgb(255,255,255);}

.infinite-wrapper.psy-post-color-set-4 .gspb_backgroundOverlay{
	background: rgb(255,255,255);
	background: linear-gradient(0deg,rgba(255,255,255,1) 0%, rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100% );
}

.infinite-wrapper.psy-post-color-set-4 .psy-reallycap-info{border-top: 1px solid #7100E1;}
.infinite-wrapper.psy-post-color-set-4 .psy-reallycap-info svg path {fill: #7100E1 !important;}

.infinite-wrapper.psy-post-color-set-4 .psy-author-name a,
.infinite-wrapper.psy-post-color-set-4 .gspb_meta_value,
.infinite-wrapper.psy-post-color-set-4 .gspb_text-id-gsbp-2c9441c1-0a61,
.infinite-wrapper.psy-post-color-set-4 .psy-text-to-speed span,
.infinite-wrapper.psy-post-color-set-4 .psy-drop-cap-letter,
.infinite-wrapper.psy-post-color-set-4 .psy-post-color-text,
.infinite-wrapper.psy-post-color-set-4 .gspb-buttonbox-title,
.infinite-wrapper.psy-post-color-set-4 .psy-reallycap-info div
{color: #7100E1 !important;}

.psy-post-color-set-4 .gspb_container-gsbp-2aaf940a-f8af a{
	font-family: var(--wp--preset--font-family--inter);
	background: -webkit-linear-gradient(45deg, #F51F86, #875078, #4385C0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;
}

.psy-post-color-set-4 .psy-main-body-content h1,
.psy-post-color-set-4 .psy-main-body-content h2,
.psy-post-color-set-4 .psy-main-body-content h3{
	color: #7100E1;
}

/* Color set 5 - Light 5: Pink */

body .psy-post-color-set-5 *{color: #000 !important;}
.infinite-wrapper.psy-post-color-set-5 {background: rgb(255,255,255);}

.infinite-wrapper.psy-post-color-set-5 .gspb_backgroundOverlay{
	background: rgb(255,255,255);
	background: linear-gradient(0deg,rgba(255,255,255,1) 0%, rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100% );
}

.infinite-wrapper.psy-post-color-set-5 .psy-reallycap-info{
	border-top: 1px solid #F402B1;
}
.infinite-wrapper.psy-post-color-set-5 .psy-reallycap-info svg path {
	fill: #F402B1 !important;
}
.infinite-wrapper.psy-post-color-set-5 .psy-author-name a,
.infinite-wrapper.psy-post-color-set-5 .gspb_meta_value,
.infinite-wrapper.psy-post-color-set-5 .gspb_text-id-gsbp-2c9441c1-0a61,
.infinite-wrapper.psy-post-color-set-5 .psy-text-to-speed span,
.infinite-wrapper.psy-post-color-set-5 .psy-drop-cap-letter,
.infinite-wrapper.psy-post-color-set-5 .psy-post-color-text,
.infinite-wrapper.psy-post-color-set-5 .gspb-buttonbox-title,
.infinite-wrapper.psy-post-color-set-5 .psy-reallycap-info div
{color: #F402B1 !important;}

.psy-post-color-set-5 .psy-main-body-content h1,
.psy-post-color-set-5 .psy-main-body-content h2,
.psy-post-color-set-5 .psy-main-body-content h3{
	color: #F402B1;
}

/* Color set 6 - Light 6: Red */
body .psy-post-color-set-6 *{color: #000 !important;}
.infinite-wrapper.psy-post-color-set-6 {background: rgb(255,255,255);}

.infinite-wrapper.psy-post-color-set-6 .gspb_backgroundOverlay{
	background: rgb(255,255,255);
	background: linear-gradient(0deg,rgba(255,255,255,1) 0%, rgba(0,0,0,0) 40%,rgba(0,0,0,0) 100% );
}

.infinite-wrapper.psy-post-color-set-6 .psy-reallycap-info{border-top: 1px solid #F30000;}
.infinite-wrapper.psy-post-color-set-6 .psy-reallycap-info svg path {fill: #F30000 !important;}

.infinite-wrapper.psy-post-color-set-6 .psy-author-name a,
.infinite-wrapper.psy-post-color-set-6 .gspb_meta_value,
.infinite-wrapper.psy-post-color-set-6 .gspb_text-id-gsbp-2c9441c1-0a61,
.infinite-wrapper.psy-post-color-set-6 .psy-text-to-speed span,
.infinite-wrapper.psy-post-color-set-6 .psy-drop-cap-letter,
.infinite-wrapper.psy-post-color-set-6 .psy-post-color-text,
.infinite-wrapper.psy-post-color-set-6 .gspb-buttonbox-title,
.infinite-wrapper.psy-post-color-set-6 .psy-reallycap-info div
{color: #F30000 !important;}

.psy-post-color-set-6 .psy-main-body-content h1,
.psy-post-color-set-6 .psy-main-body-content h2,
.psy-post-color-set-6 .psy-main-body-content h3{
	color: #F30000;
}

/* Changing header color in Article */

body.psy-post-color-set-1 .psy-header-wrapper .psy-header-logo-wrapper {
	background-image: url(/wp-content/themes/supermind-base/assets/media/Psychedelics.com-Logo-Magenta.svg);
}
body.psy-post-color-set-1 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon,
body.psy-post-color-set-1 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:before,
body.psy-post-color-set-1 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon::after {
	border-color: #F51F86;
}
body.psy-post-color-set-2 .psy-header-wrapper .psy-header-logo-wrapper {
	background-image: url(/wp-content/themes/supermind-base/assets/media/Psychedelics.com-Logo-Teal.svg);
}
body.psy-post-color-set-2 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon,
body.psy-post-color-set-2 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:before,
body.psy-post-color-set-2 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon::after {
	border-color: #00FFF0;
}
body.psy-post-color-set-3 .psy-header-wrapper .psy-header-logo-wrapper {
	background-image: url(/wp-content/themes/supermind-base/assets/media/Psychedelics.com-Logo-Yellow.svg);
}
body.psy-post-color-set-3 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon,
body.psy-post-color-set-3 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:before,
body.psy-post-color-set-3 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon::after {
	border-color: #F4F85A;
}
body.psy-post-color-set-4 .psy-header-wrapper .psy-header-logo-wrapper {
	background-image: url(/wp-content/themes/supermind-base/assets/media/Psychedelics.com-Logo-Purple.svg);
}
body.psy-post-color-set-4 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon,
body.psy-post-color-set-4 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:before,
body.psy-post-color-set-4 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon::after {
	border-color: #7100E1;
}
body.psy-post-color-set-5 .psy-header-wrapper .psy-header-logo-wrapper {
	background-image: url(/wp-content/themes/supermind-base/assets/media/Psychedelics.com-Logo-Pink.svg);
}
body.psy-post-color-set-5 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon,
body.psy-post-color-set-5 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:before,
body.psy-post-color-set-5 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon::after {
	border-color: #F402B1;
}
body.psy-post-color-set-6 .psy-header-wrapper .psy-header-logo-wrapper {
	background-image: url(/wp-content/themes/supermind-base/assets/media/Psychedelics.com-Logo-Red.svg);
}
body.psy-post-color-set-6 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon,
body.psy-post-color-set-6 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon:before,
body.psy-post-color-set-6 .psy-header-menu>.gspb-buttonbox .gspb-buttonbox-icon::after {
	border-color: #F30000;
}
/* MEDIA QUERIES */
@media only screen and (min-width: 0px) {}

/* big phone */
@media only screen and (max-width: 600px) {
	.gspb_container__videoContainer {
		display: none;
	}

	.psy-lp-narrow-40 {
		width: 100%;
		margin: 0 auto;
	}

	.psy-lp-narrow-50 {
		width: 100%;
		margin: 0 auto;
	}

	.psy-lp-narrow-60 {
		width: 100%;
		margin: 0 auto;
	}

	.psy-lp-center-content {
		width: auto !important;
		min-width: 0;
	}

	.has-global-padding>.alignfull {
		margin-right: 0 !important;
		margin-left: 0 !important;
	}

	.alignfull>.gspb_row__content {
		/* max-width: 1720px; */
		padding: 25px 20px !important;
		min-width: 0 !important
	}

	.has-global-padding {
		padding-right: 0;
		padding-left: 0;
	}

	header .psy-container {
		max-width: 100%;
		position: absolute !important;
	}
}


/* tablet */
@media only screen and (max-width: 768px) {
	.psy-post-wrapper {
		min-height: auto !important;
	}
	.psy-home-article-container {
		width: auto !important;
	}

	.psy-reallycap-info a,
	.psy-reallycap-info a {
		font-size: 13px;
		font-family: Inter, sans-serif;
	}

	.psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper,
	.psy-left-top-layout .psy-home-article-container .psy-home-article-wrapper,
	.psy-left-bottom-layout .psy-home-article-container .psy-home-article-wrapper,
	.psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper {
		width: 100%
	}
	.psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper h3, .psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper div.gspb_meta_value, .psy-right-top-layout .psy-home-article-container .psy-home-article-wrapper .gspb_iconBox, .psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper h3, .psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper div.gspb_meta_value, .psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper .gspb_iconBox {
		text-align: left !important;
	}

	.psy-left-bottom-layout .psy-home-article-container,
	.psy-left-top-layout .psy-home-article-container {
		/* align-items: flex-start !important; */
	}

	.psy-left-bottom-layout .psy-home-article-container .psy-home-article-wrapper,
	.psy-right-bottom-layout .psy-home-article-container .psy-home-article-wrapper {
		padding-top: 20px;
	}

	.psy-post-wrapper .psy-home-readtime {font-size: 13px !important}

	.psy-post-darkmode * {color: #fff !important;}
	.psy-post-lightmode *{color: #fff !important;}

	.psy-post-color-set-1 *{color: #fff !important;}
	.psy-post-color-set-2 *{color: #fff !important;}
	.psy-post-color-set-3 *{color: #fff !important;}

	.wp-block-navigation-item.wp-block-navigation-link {
		max-height: 100px;
	}
	ul.wp-block-navigation__container li a {
		padding-bottom: 0;
	}
	.psy-post-feature-image img {
		height: 100%;
		object-fit: cover;
		object-position: center;
	 }

}

@media only screen and (max-width: 500px) {
	.psy-reallycap-info a,
	.psy-reallycap-info a {
		font-size: 10px;
		font-family: Inter, sans-serif;
	}
}
/* desktop */
@media only screen and (min-width: 1024px) {}

/*  small laptop sizes */
@media only screen and (min-height: 0px) and (max-height: 900px) {}

/* odd breakpoints and anomoly screen sizes */
@media only screen and (min-height: 900px) and (min-width: 1024px) {}
